.header-navbar {
  display: flex;
  width: 100%;
  height: 1%;
  justify-content: space-between;
  align-items: center;
  background-color: #03070a;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  position: relative;
}

.header-navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  animation: slide 30s infinite ease-in-out;
}

@keyframes slide {
  0% {
    left: 0;
    opacity: 0.2;
  }
  50% {
    left: calc(100% - 100px);
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0.2;
  }
}

.header-navbar_logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.header-navbar_logo_img {
  height: 50px;
  width: 400px;
}

.header-navbar_ul {
  width: 100%;
  justify-content: space-around;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
  }
}

.header-navbar_user {
  width: 80%;

  ul {
    display: flex;
    align-items: end;
  }
}

.navbar-nav {
  ul > li {
    padding: 2em;
  }
}

.route-link {
  color: white;
  text-decoration: none;
}
