<header>
  <nav class="header-navbar">
    <div class="header-navbar_logo">
      <img class="header-navbar_logo_img" [src]="homeImg" alt="Home Logo" />
    </div>
    <div class="header-navbar_ul">
      <ul class="navbar-nav flex-grow-1 justify-content-evenly fs-6">
        <li>
          <a class="route-link" href="">Home</a>
        </li>
        <li><a class="route-link" href="services">Árvore Familiar</a></li>
        <li><a class="route-link" href="about">Personagens</a></li>
        <li><a class="route-link" href="pricing">Sobre</a></li>
      </ul>
    </div>
    <div class="header-navbar_user">
      <ul class="navbar-nav flex-grow-1 justify-content-end fs-6">
        <li class="nav-item d-flex align-items-center">
          <span class="text-white">Bem vindo(a)!</span>
        </li>
      </ul>
    </div>
  </nav>
</header>
