# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# stryker temp files
.stryker-tmp
/reports

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Documentation
/documentation

# System files
.DS_Store
Thumbs.db
.VSCodeCounter/2023-12-07_10-22-20/details.md
.VSCodeCounter/2023-12-07_10-22-20/diff-details.md
.VSCodeCounter/2023-12-07_10-22-20/diff.csv
.VSCodeCounter/2023-12-07_10-22-20/diff.md
.VSCodeCounter/2023-12-07_10-22-20/diff.txt
.VSCodeCounter/2023-12-07_10-22-20/results.csv
.VSCodeCounter/2023-12-07_10-22-20/results.json
.VSCodeCounter/2023-12-07_10-22-20/results.md
.VSCodeCounter/2023-12-07_10-22-20/results.txt
.VSCodeCounter/2023-12-07_10-24-27/details.md
.VSCodeCounter/2023-12-07_10-24-27/diff-details.md
.VSCodeCounter/2023-12-07_10-24-27/diff.csv
.VSCodeCounter/2023-12-07_10-24-27/diff.md
.VSCodeCounter/2023-12-07_10-24-27/diff.txt
.VSCodeCounter/2023-12-07_10-24-27/results.csv
.VSCodeCounter/2023-12-07_10-24-27/results.json
.VSCodeCounter/2023-12-07_10-24-27/results.md
.VSCodeCounter/2023-12-07_10-24-27/results.txt
documentation/coverage.html
documentation/dependencies.html
documentation/index.html
documentation/modules.html
documentation/overview.html
documentation/properties.html
documentation/routes.html
documentation/classes/CompositionTable.html
documentation/classes/DataToUpdate.html
documentation/classes/EditedFile.html
documentation/classes/SendQuantity.html
documentation/classes/SymbolsByGroup.html
documentation/components/AccessDeniedComponent.html
documentation/components/AppComponent.html
documentation/components/CardComponent.html
documentation/components/ClientAvailableProductsComponent.html
documentation/components/ClientComponent.html
documentation/components/ClientCreateComponent.html
documentation/components/ClientDropFileComponent.html
documentation/components/ClientEditComponent.html
documentation/components/ClientListComponent.html
documentation/components/ClientProductHomeComponent.html
documentation/components/CompositionComponent.html
documentation/components/CompositionTableComponent.html
documentation/components/DetailsCompositionMethodsComponent.html
documentation/components/DraggableBoxComponent.html
documentation/components/DraggableBoxCompositionComponent.html
documentation/components/DraggableQuantityComponent.html
documentation/components/DraggableSymbolismComponent.html
documentation/components/ErrorIconComponent.html
documentation/components/FiberComponent.html
documentation/components/FooterComponent.html
documentation/components/ForgotPasswordComponent.html
documentation/components/FreeTextAreaComponent.html
documentation/components/GeneralDataComponent.html
documentation/components/HeaderComponent.html
documentation/components/HomeComponent.html
documentation/components/InternalUserComponent.html
documentation/components/InternalUserCreateComponent.html
documentation/components/InternalUserDetailsComponent.html
documentation/components/InternalUserEditComponent.html
documentation/components/InternalUserListComponent.html
documentation/components/LoadingComponent.html
documentation/components/LoginComponent.html
documentation/components/MenuComponent.html
documentation/components/ModalComponent.html
documentation/components/ModalConfirmComponent.html
documentation/components/OrderComponent.html
documentation/components/OrderCreateComponent.html
documentation/components/OrderDetailsDialogComponent.html
documentation/components/OrderDownloadComponent.html
documentation/components/OrderDynamicTableComponent.html
documentation/components/OrderLogsComponent.html
documentation/components/OrderNotesComponent.html
documentation/components/OrderReviewComponent.html
documentation/components/OrdersFieldsComponent.html
documentation/components/PageHeaderComponent.html
documentation/components/PaginatorComponent.html
documentation/components/PartComponent.html
documentation/components/PercentageInputComponent.html
documentation/components/ProductAvailableFieldsComponent.html
documentation/components/ProductComponent.html
documentation/components/ProductCreateComponent.html
documentation/components/ProductCreateFieldComponent.html
documentation/components/ProductDetailsComponent.html
documentation/components/ProductListAdminComponent.html
documentation/components/ProductListComponent.html
documentation/components/SearchClientComponent.html
documentation/components/SearchProductsComponent.html
documentation/components/SelectCompositionBuilderComponent.html
documentation/components/SelectFieldsComponent.html
documentation/components/SelectModeComponent.html
documentation/components/SelectPartfiberComponent.html
documentation/components/SelectProductComponent.html
documentation/components/SidebarComponent.html
documentation/components/SymbolComponent.html
documentation/components/SymbolListComponent.html
documentation/components/WarningComponent.html
documentation/directives/cepDirective.html
documentation/directives/CpfCnpjDirective.html
documentation/directives/FormatPriceDirective.html
documentation/directives/IntegerOnlyDirective.html
documentation/directives/NewFieldDirective.html
documentation/directives/phoneDirective.html
documentation/graph/dependencies.svg
documentation/images/coverage-badge-documentation.svg
documentation/injectables/ApiConnectionService.html
documentation/injectables/AuthService.html
documentation/injectables/BridgeService.html
documentation/injectables/CartService.html
documentation/injectables/CepService.html
documentation/injectables/ClientProductService.html
documentation/injectables/CompositionBuilderService.html
documentation/injectables/ConstantsService.html
documentation/injectables/CustomMatPaginatorIntl-1.html
documentation/injectables/CustomMatPaginatorIntl-2.html
documentation/injectables/CustomMatPaginatorIntl.html
documentation/injectables/FiberPartsService.html
documentation/injectables/FieldsStateService.html
documentation/injectables/FilesFromTableService.html
documentation/injectables/IconService.html
documentation/injectables/OrderService.html
documentation/injectables/ProductCreateService.html
documentation/injectables/ProductFromTableService.html
documentation/injectables/SymbolService.html
documentation/injectables/TableProductService.html
documentation/injectables/UserService.html
documentation/interceptors/AuthInterceptor.html
documentation/interfaces/AvailableField.html
documentation/interfaces/AvailableFieldResponse.html
documentation/interfaces/Client.html
documentation/interfaces/ClientProductsAvailableFields.html
documentation/interfaces/Composition.html
documentation/interfaces/CompositionLength.html
documentation/interfaces/CompositionParts.html
documentation/interfaces/CreateUser.html
documentation/interfaces/DynamicColumn.html
documentation/interfaces/Fiber.html
documentation/interfaces/FieldProperty.html
documentation/interfaces/FileInput.html
documentation/interfaces/Grouping.html
documentation/interfaces/Internal.html
documentation/interfaces/ModalData.html
documentation/interfaces/Order.html
documentation/interfaces/Part.html
documentation/interfaces/Product.html
documentation/interfaces/ProductAvailableField.html
documentation/interfaces/ProductClient.html
documentation/interfaces/ProductCreateRequest.html
documentation/interfaces/ProductDTO.html
documentation/interfaces/ProductQueryResponse.html
documentation/interfaces/ReceiveResult.html
documentation/interfaces/RolesDictionary.html
documentation/interfaces/Size.html
documentation/interfaces/Status.html
documentation/interfaces/SymbolGroup.html
documentation/interfaces/TableInfos.html
documentation/interfaces/TokenJwt.html
documentation/interfaces/Translation.html
documentation/interfaces/User.html
documentation/interfaces/UserLogin.html
documentation/js/menu-wc_es5.js
documentation/js/menu-wc.js
documentation/js/routes/routes_index.js
documentation/js/search/search_index.js
documentation/miscellaneous/enumerations.html
documentation/miscellaneous/functions.html
documentation/miscellaneous/variables.html
documentation/modules/AccessDeniedModule.html
documentation/modules/AppModule.html
documentation/modules/AppRoutingModule.html
documentation/modules/CardModule.html
documentation/modules/HeaderModule.html
documentation/modules/HomeModule.html
documentation/modules/LoadingSpinnerModule.html
documentation/modules/LoginModule.html
documentation/modules/MenuModule.html
documentation/modules/ModalModule.html
documentation/modules/OrderModule.html
documentation/modules/PageHeaderModule.html
documentation/modules/PaginatorModule.html
documentation/modules/ProductModule.html
documentation/modules/SharedModule.html
documentation/modules/SidebarModule.html
documentation/modules/SymbolListModule.html
documentation/modules/SymbolModule.html
documentation/modules/UsersModule.html
documentation/modules/WarningModule.html
documentation/modules/AppModule/dependencies.svg
documentation/modules/CardModule/dependencies.svg
documentation/modules/LoginModule/dependencies.svg
documentation/modules/ModalModule/dependencies.svg
documentation/modules/OrderModule/dependencies.svg
documentation/modules/PaginatorModule/dependencies.svg
documentation/modules/ProductModule/dependencies.svg
documentation/modules/SharedModule/dependencies.svg
documentation/modules/SidebarModule/dependencies.svg
documentation/modules/SymbolListModule/dependencies.svg
documentation/modules/SymbolModule/dependencies.svg
documentation/modules/UsersModule/dependencies.svg
documentation/modules/WarningModule/dependencies.svg
documentation/pipes/MaxLengthPipe.html
documentation/pipes/OrderNumberPipe.html
